extends template.pug

append head
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css")
    link(rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/home.css")

append headerTitle
    a HomePage

append content

    div#aboutme
        p.about #{language.home.about[1]} <br>

        div#langs
            for lang of language.home.languages
                p.lang
                    a(href=lang.url target="_blank") #{lang.name}
            <br> <br>
            | #{language.home.about[2]} <br>
            for lang of language.home.mostlangs
                p.lang
                    a #{lang}

        br
        div#social
            | Znaleść można mnie tutaj: <br> 
            for item of socialmedia
                i(class="fab fa-"+ item.name.toLowerCase())
                p.media
                    a(href=item.link) #{item.name}

append projects
    div#projects

        div.projects-container.prjects-title-container
            p.projectsTitle My projects

        div.projects-container
            for pr of projects
                div.project
                    div.project-item
                        if pr.archived
                            a.archived Archived
                        a.name #{pr.name} <br> <br>
                        if pr.link
                            i(class="fab fa-"+ pr.link.platform.toLowerCase())
                            a.link(href=pr.link.link) #{pr.link.platform}
                        if pr.authors
                            p.author Devs: 
                                for member of pr.authors
                                    | #{member}     
                        p.version v.#{pr.currentVersion}

append js
    script(src="/js/preload.js")
    script(src="/js/block.js")